#carouselFirst {

    .carousel-inner img{
        width:100%;
    }
    .carousel-indicators {
        position:relative;
        & > button {
            background-color: #f00000;
            width: 20px;
            height: 20px;
            margin-top: 10px;
            background-clip: border-box;
        }
    }
}
