[class*="swiper-button-next"] {
    right: -15px !important;

    @media(max-width:767px) {
        right: 0 !important;
    }
}

[class*="swiper-button-prev"] {
    left: -15px !important;

    @media(max-width:767px) {
        left: 0 !important;
    }
}

[class*="swiper-button"] {
    color: black !important;
    top: 50% !important;
    //transform: translateY(-50%);

    @media(max-width:767px) {
        top: 22px !important;
        height: 100% !important;
        background-color: #3e3e3e5e !important;
        color: white !important;
        width: 50px !important;
    }



    &::after {
        font-size: 22px !important;
        font-weight: bold !important;
    }
}