@model HomePageViewModel

@{
    ViewData["Title"] = "Pagina di prova";
}
@section Scripts{
    <script defer  src="~/js/Page/index.js"></script>
       <script>
      var { createApp, ref,onUpdated, onBeforeMount } = Vue;
  createApp({
    setup() {
     var brands = ref([]);
             onBeforeMount( async () => {
                        const res = await fetch("/Brands/GetAllBrands");
                    if(res.statusText !== "OK") return;
                    const brnds = await res.json();
                        brands.value = brnds;
             })

                onUpdated(() => {
             

                        const imageProductsContainer = document.getElementById("products-component");
const swiperEl = document.querySelector('swiper-container');

var swiperParams = {
    slidesPerView: 2,
    watchSlidesVisibility: true,
    preloadImages: false,
    spaceBetween: 30,
    navigation: true,
    breakpoints: {
        768: {
            slidesPerView: 8,
            spaceBetween: 20
        }
    }
};

Object.assign(swiperEl, swiperParams);
swiperEl.initialize();
const imagesProducts = imageProductsContainer.querySelectorAll("[data-src]");
imagesProducts.forEach(img => {
    let attribute = img.dataset['src'];
    img.removeAttribute('data-src');
    img.setAttribute('src',attribute);
})
console.log(imagesProducts);
     });
                return {
                    brands
                }
    }
        }).mount('#products-component')
       </script>
    }

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="~/assets/bundles/css/page-index.css" />

<div class="container-md">
    
<partial name="_CarouselFirst" model="Model.carousels" ></partial>
<div class="text-center my-4 ">
    <p class="fw-bold mb-0">Archiproducts Shop Online</p>
    <p class="mb-0">Ecommerce di arredamento, illuminazione, bango cucina</p>
</div>
<partial name="_ShowCase" model="Model.showCases"></partial>

<div id="products-component">
        <main id="brands-carousel">
            <h3 class="text-center py-5 pb-4">Rivenditore Ufficiale di</h3>
            <div class="container-md pb-5">
                <swiper-container id="swiper-brands" init="false">
                    <swiper-slide v-for="(brand, index) in brands" :key="index">
                        <div class="product">
                            <img :data-src="['/images/brands/' + brand.img]" /> 
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </main>
</div>
</div>