@model HomePageViewModel

@{
    ViewData["Title"] = "Pagina di prova";
}
@section Scripts{
       <script src="~/assets/bundles/js/page-index.js"></script>
           <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
       <script>
        const swiperEl = document.querySelector('swiper-container');
      var { createApp, ref,onMounted } = Vue;
  createApp({
    setup() {
                var swiperParams = {
    slidesPerView: 2,
    watchSlidesVisibility: true,
    preloadImages: false,
    spaceBetween: 30,
    navigation: true,
    breakpoints: {
        768: {
            slidesPerView: 8,
            spaceBetween: 20
        }
    }
};

     var brands = ref([]);
                // now we need to assign all parameters to Swiper element
                Object.assign(swiperEl, swiperParams);

                // and now initialize it



                    onMounted( async () => {
                                        swiperEl.initialize();
                    const res = await fetch("/Brands/GetAllBrands");
                    if(res.statusText !== "OK") return;
                    const brnds = await res.json();
                        brands.value = brnds;
     });
                return {
                    brands
                }
    }
        }).mount('#products-component')
       </script>
    }

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="~/assets/bundles/css/page-index.css" />

<div class="container-md">
    
<partial name="_CarouselFirst" model="Model.carousels" ></partial>
<div class="text-center my-4 ">
    <p class="fw-bold mb-0">Archiproducts Shop Online</p>
    <p class="mb-0">Ecommerce di arredamento, illuminazione, bango cucina</p>
</div>
<partial name="_ShowCase" model="Model.showCases"></partial>

<div id="products-component">
        <main id="brands-carousel">
            <h3 class="text-center py-5 pb-4">Rivenditore Ufficiale di</h3>
            <div class="container-md pb-5">
                <swiper-container id="swiper-brands" init="false">
                    <swiper-slide v-for="(brand, index) in brands" :key="index">
                        <div class="product">
                            <img :src="['/images/brands/' + brand.img]" /> 
                           <img src="/images/brands/brand-01.gif" />
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>
        </main>
</div>
</div>