@model HomePageViewModel

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script type="module" src="~/assets/bundles/js/index.js" asp-append-version="true"></script>
    <script src="~/assets/bundles/js/products-app.js" asp-append-version="true"></script>

    }

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<div class="container-md">

    <partial name="_CarouselFirst" model="Model.carousels"></partial>
    <div class="text-center my-4 ">
        <p class="fw-bold mb-0">Archiproducts Shop Online</p>
        <p class="mb-0">Ecommerce di arredamento, illuminazione, bango cucina</p>
    </div>
    <partial name="_ShowCase" model="Model.showCases"></partial>
</div>
@*<partial name="_Products"></partial>*@
<div id="products--vue"></div>
<partial name="_Brands"></partial>

<div class="container-md">
    <partial name="_Spot"></partial>
</div>
<hr />


<div id="test--component">
    <test-component></test-component>
</div>
