@model HomePageViewModel

@section Scripts{
    <script type="module" src="~/js/Page/utilities.js"></script>

    <script src="~/js/Page/index.js"></script>
    <script>

    </script>
    }

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<div class="container-md">

    <partial name="_CarouselFirst" model="Model.carousels"></partial>
    <div class="text-center my-4 ">
        <p class="fw-bold mb-0">Archiproducts Shop Online</p>
        <p class="mb-0">Ecommerce di arredamento, illuminazione, bango cucina</p>
    </div>
    <partial name="_ShowCase" model="Model.showCases"></partial>
    <partial name="_Products"></partial>
</div>
<partial name="_Brands"></partial>

<div class="container-md">
    <partial name="_Spot"></partial>
</div>
<hr />
