<footer id="footer-page" class="mt-0 mt-md-4 accordion">
    <div class="row">
        <div class="col-12 col-md-3 info mb-3 mb-lg-0">
           <div class="d-flex flex-column">
                <figure class="col-6">
                    <picture>
                        <img alt="archiProducts_logo" class="w-100" src="/images/logo/logo-archiproducts.webp" />
                    </picture>
                </figure>
                <p class="fw-bold mb-2">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" /></svg>
                        +39 0123456789
                    </span>
                </p>
                <p class="fw-bold mb-2">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M232 120C232 106.7 242.7 96 256 96C269.3 96 280 106.7 280 120V243.2L365.3 300C376.3 307.4 379.3 322.3 371.1 333.3C364.6 344.3 349.7 347.3 338.7 339.1L242.7 275.1C236 271.5 232 264 232 255.1L232 120zM256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0zM48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48C141.1 48 48 141.1 48 256z" /></svg>                        Orari showroom
                    </span>
                </p>
                  <p class="fw-bold mb-2">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" /></svg>
                       Contatta il servizio clienti
                    </span>
                </p>
           </div>
           <div class="d-flex flex-row gap-2">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" /></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" /></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" /></svg>

           </div>
        </div>
        <div class="col-12 col-md-3">
            <hr class="mb-3 d-md-none" />
            <h3 class="fw-bold mb-0 mb-md-3">Informazioni <span class="d-md-none collapsed" data-bs-toggle="collapse" href="#collapseInfo"></span></h3>
            <section class="list mt-3 mt-md-0 collapse d-md-block" id="collapseInfo">
                <p>L'azienda</p>
                <p>L'azienda</p>
                <p>L'azienda</p>
                <p>L'azienda</p>

            </section>
        </div>
        <div class="col-12 col-md-3">
            <hr class="mb-3 d-md-none" />
            <h3 class="fw-bold mb-0 mb-md-3">Termini e condizioni <span class="d-md-none collapsed" data-bs-toggle="collapse" href="#terms"></span></h3>
            <section class="list mt-3 mt-md-0 collapse d-md-block" id="terms">
                <p>Termini</p>
                <p>Termini e condizioni di vendita</p>
                <p>Vendita</p>
                <p>Termini e condizioni di vendita</p>
                <p>Termini</p>
                <p>Termini e condizioni di vendita</p>
                <p>Vendita</p>
                <p>Termini e condizioni di vendita</p>
            </section>
        </div>
        <div class="col-12 col-md-3">
            <hr class="mb-3 d-md-none" />
            <h3 class="fw-bold mb-0 mb-md-3">Acquisti sicuri, in tutto il mondo</h3>
            <div class="d-flex gap-2 flex-row flex-wrap">
                <img alt="mastercard" src="~/images/img/mastercard.png" />
                <img alt="visa" src="~/images/img/visa.png" />
                <img alt="maestro" src="~/images/img/maestro.png" />
                <img alt="paypal" src="~/images/img/paypal.png" />
                <img alt="banktransfer" src="~/images/img/banktransfer.png" />
                <img alt="amex" src="~/images/img/amex.png" />


            </div>
        </div>

    </div>
</footer>