
<main id="partial-products" class="position-relative">
    <section class="g-0 g-md-4 container-md position-relative" ref="swiperpartials">
        <h3 class="text-center py-5 py-md-0">Prodotti in vetrina</h3>
            <swiper-container ref="swiperm" class="products" init="false">
            <swiper-slide v-for="(prod,index) of products" class="product" lazy="true">
                        <img loading="lazy" :src="['/images/products/' + prod.img]">
                        <div class="info text-center my-2">
                            <h6>{{ prod.name }}</h6>
                            <h5 class="fw-bold">{{ prod.category }}</h5>
                            <h5>{{ prod.description }}</h5>
                <p class="fw-bold">€ {{ formattedPrice(prod.price) }}</p>
                        </div>
                    </swiper-slide>
        </swiper-container>
            <div class="product--item swiper-button-prev"></div>
            <div class="product--item swiper-button-next"></div>
    </section>
        </main>

