@using System.Globalization;
@model List<Product>




<main id="partial-products">
<h3 class="text-center">Prodotti in vetrina</h3>
<div class="swiper product--list">

    <div class="products swiper-wrapper">
        @foreach (Product prod in Model)
        {
            <div class="product swiper-slide">
                <img src="/images/products/@(prod.Img)">
                <div class="info text-center my-2">
                    <h6>@prod.Name</h6>
                    <h5 class="fw-bold">@prod.Category</h5>
                    <h5>@(prod.Description)</h5>
                    <p class="fw-bold">€ @( prod.Price.ToString("N", CultureInfo.CurrentCulture) ?? "")</p>
                </div>
            </div>
        }
</div>
</div>
</main>


