@model List<ShowCase>

<main class="show-cases my-3">
<section class="row">
        @for (int i=0; i < Model.Count; i++)
        {
            <div class="col-12 col-md-4 mb-4">
                <img alt="@(Model[i].Img)" class="w-100 h-100" src="~/images/showcase/@(Model[i].Img).jpg" />
            </div>
        }
    </section>

</main>