@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<main id="spot-component" class="mt-md-5 mt-2">
<figure>
    <picture>
            <source media="(min-width: 768px)" srcset="~/images/spot/spot-desktop.jpg" />
        <img alt="Spot-daloom" class="w-100" src="~/images/spot/spot-mobile.jpg"  />
    </picture>
    <figcaption></figcaption>
</figure>
    <section class="d-flex flex-column flex-md-row align-items-center justify-content-around mx-5 mt-5 gap-5 gap-md-0">
        <div class="text-center">
<svg style="width:60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M240 0c4.6 0 9.2 1 13.4 2.9L441.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.7 363.2c-16.7 8-36.1 8-52.8 0C41.3 420.7 .5 239.2 0 140c-.1-26.2 16.3-47.9 38.3-57.2L226.7 2.9C230.8 1 235.4 0 240 0zm0 66.8V444.8C378 378 415.1 230.1 416 141.4L240 66.8l0 0z"/></svg> 
<p >L'azienda</p>
             <small>Leggi</small>
    </div>
        <div class="text-center">
            <svg style="width:60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M240 0c4.6 0 9.2 1 13.4 2.9L441.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.7 363.2c-16.7 8-36.1 8-52.8 0C41.3 420.7 .5 239.2 0 140c-.1-26.2 16.3-47.9 38.3-57.2L226.7 2.9C230.8 1 235.4 0 240 0zm0 66.8V444.8C378 378 415.1 230.1 416 141.4L240 66.8l0 0z" /></svg>
            <p>Pagaemnti cisuci</p>
            <small>Leggi</small>
        </div>
        <div class="text-center">
<svg style="width:60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M240 0c4.6 0 9.2 1 13.4 2.9L441.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.7 363.2c-16.7 8-36.1 8-52.8 0C41.3 420.7 .5 239.2 0 140c-.1-26.2 16.3-47.9 38.3-57.2L226.7 2.9C230.8 1 235.4 0 240 0zm0 66.8V444.8C378 378 415.1 230.1 416 141.4L240 66.8l0 0z"/></svg> 
            <p>Prodotti migliori</p>
             <small>Leggi</small>
        </div>
</section>
</main>