#brands-component {
    background: #d7d7d7;

    #container-brands {
        min-height: calc(9vw);
    }

    .swiper-button-next {
        right: -15px;

        @media(max-width:767px) {
            right: 0;
        }
    }

    .swiper-button-prev {
        left: -15px;

        @media(max-width:767px) {
            left: 0;
        }
    }

    .swiper-button-next, .swiper-button-prev {
        color: black;
        top: 50%;
        //transform: translateY(-50%);

        @media(max-width:767px) {
            height: calc(100% - 3rem);
            background-color: #3e3e3e5e;
            color: white;
            width: 50px;
        }



        &::after {
            font-size: 22px;
            font-weight: bold;
        }
    }



    .brand {
        height: auto;
        background: white;
        align-items: center;
        display: flex;
        transition: all ease-in-out 0.2s;
        opacity: 1;

        & > img {
            object-fit: contain;
            width: 100%;
            transition: all ease-in-out 0.2s;
        }

        .swiper-lazy {
            opacity: 0;

            &-loaded {
                opacity: 1;
            }
        }
    }
}
