#partial-products {

    section {
        min-height: 370px;
        @media(max-width:767px) {
            &:hover {
                .product--item.swiper-button-prev, .product--item.swiper-button-next {
                    opacity:1;
                }
            }

            .product--item.swiper-button-prev, .product--item.swiper-button-next {
               opacity:0;
               transition:opacity 0.2s;
            }
        }

        .product {
            opacity: 1;
            transition: opacity 0.2s;



            > img {
                object-fit: contain;
                width: 100%;
                transition: all ease-in-out 0.2s;

                @media (max-width:767px) {
                    max-height: 400px;
                }

                min-height: 240px;

                &:hover {
                    transform: scale(105%);

                    @media (max-width:767px) {
                        transform: scale(102%);
                    }
                }
            }
        }
    }



    .info {
        h6 {
        }

        h5 {
        }

        p {
            color: red;
        }
    }
}
